@import '../../variables.sass'

html, body
    background: #000

.main
    padding-top: 40px


#site-navigation
    margin: 40px 0

.post-preview
    .post-title
        margin: 0 0 10px
    .post-entry, .post-read-more
        margin-top: 20px

.single-post .post-header
    text-align: center

.post-meta
    color: #000
    font-size: 80%

.single-post
    h1, h2, h3, h4, h5, h6
        margin: 20px 0
    h1
        font-size: 2em
    h2
        font-size: 1.5em
    h3
        font-size: 1.17em
    h4
        font-size: 1.12em
    h5
        font-size: .83em
    h6
        font-size: .75em

    .toc
        border: 1px solid #a2a9b1
        background-color: #f8f9fa
        padding: 5px
        font-size: 95%

        li ul
            border-left: 1px solid #dbdbdb
            margin: 0 0.75em
            list-style-type: decimal

    .post-title
        font-size: 3rem
        margin: 0 0 1em

.post
    p
        margin-top: 20px
    ul
        list-style-type: disc
        margin: auto
        padding: 0 40px
    blockquote, pre
        word-wrap: normal
        overflow-x: auto
        width: auto !important
        margin: 15px 20px
        padding: 5px 15px
        border: none
    blockquote, pre, li
        p
            margin: 0
    table
        width: 100%
        border-top: 2px solid $primary
        border-bottom: 2px solid $primary
        margin: 10px auto
    table td
        border: 1px solid #dbdbdb
        border-width: 0 0 1px
        padding: 0.5em 0.75em
        vertical-align: top
    h1, h2, h3, h4, h5, h6
        font-weight: bold
    code .tag
        background: none
        font-size: unset
        height: auto
        padding: 0

.site-footer
    width: 100%
    margin: 20px 0px 0px
    padding: 10px 0
    font-size: 1em
    color: white
    line-height: 1.5em
    a
        color: white
    blockquote
        margin: 0 0 20px

.footer-nav
    margin: 0 40px 40px
    blockquote
        border: 0px
        text-align: center
        overflow: hidden

footer
    .side
        display: inline-block
        vertical-align: top
        margin-right: 20px
        text-align: left
        &:nth-child(1)
            padding-right: 60px
    .site-info
        position: relative
        margin: 0px 40px -10px
        padding: 40px 40px 20px 40px
        border: 2px solid #ccc
        border-bottom: 0px

.site-info
    .smilie
        display: table
        margin: 30px auto 10px
        font-size: 50px
        text-align: center
        transform: rotate(90deg)
    span
        position: absolute
        height: 10px
        width: 10px
        background: white
        span
        &:nth-of-type(1)
            top: 0
            left: 0
            margin: -4px 0 0 -4px
        &:nth-of-type(2)
            top: 0
            left: 50%
            margin: -4px 0 0 -4px
        &:nth-of-type(3)
            top: 0
            right: 0
            margin: -4px -4px 0 0
        &:nth-of-type(4)
            top: 50%
            left: 0
            margin: -4px 0 0 -4px
        &:nth-of-type(5)
            top: 50%
            right: 0
            margin: -4px -4px 0 0
        &:nth-of-type(6)
            bottom: 0
            left: 0
            margin: 0 0 -4px -4px
        &:nth-of-type(7)
            bottom: 0
            right: 0
            margin: 0 -4px -4px 0
