@import '../../variables.sass'

html, body
    background: #000

.content-box
    padding: 60px 60px

.main
    background: #ddd

.navbar
    box-shadow: 0 10px 20px rgba(0,0,0,0.15)

#secondary-nav
    margin: 100px auto 0

#secondary-nav *
    -webkit-transition: all 0.5s ease
    transition: all 0.5s ease

#secondary-nav .columns
    margin: 0

#secondary-nav li
    height: 50px
    text-align: center

#secondary-nav li a
    height: 100%
    width: 100%
    color: #fff
    font-weight: bold

#secondary-nav li a:hover
    color: #000

#secondary-nav li:nth-child(1)
    width: 50px

#secondary-nav li:nth-child(1)
    background: #4CA454

#secondary-nav li:nth-child(2)
    background: #6693D6

#secondary-nav li:nth-child(3)
    background: #BE4C39

#secondary-nav li:nth-child(4)
    background: #d49b00

#secondary-nav li:nth-child(5)
    background: #9351A6

#secondary-nav li:nth-child(6)
    background: #E18728

/**
 * Search box
 */
#search-toggle
    height: 100%
    width: 100%
    padding: .75rem

#search-box-wrapper
    position: relative

#search-box
    position: absolute
    top: 0
    bottom: 0
    left: 50px
    right: 0
    visibility: hidden

#search-input
    height: 100%
    width: 100%

#secondary
    padding-top: 0

.box
    background: #fff
    color: #000

.post-preview
    .post-title
        margin: 0 0 10px
    .post-entry, .post-read-more
        margin-top: 20px

.single-post .post-header
    text-align: center

.post-meta
    color: #000
    font-size: 80%

.single-post
    h1, h2, h3, h4, h5, h6
        margin: 20px 0
    h1
        font-size: 2em
    h2
        font-size: 1.5em
    h3
        font-size: 1.17em
    h4
        font-size: 1.12em
    h5
        font-size: .83em
    h6
        font-size: .75em

    .toc
        border: 1px solid #a2a9b1
        background-color: #f8f9fa
        padding: 5px
        font-size: 95%

        li ul
            border-left: none
            margin: 0 0.75em
            list-style-type: decimal

        ul
            line-height: 0.5

    .post-title
        font-size: 3rem
        margin: 0 0 1em
        color: #000

.post
    p
        margin-top: 20px
    ul, ol
        list-style-type: disc
        margin: auto
        padding: 0 40px
    blockquote, pre
        word-wrap: normal
        overflow-x: auto
        width: auto !important
        margin: 15px 20px
        padding: 5px 15px
        border: none
    blockquote, pre, li
        p
            margin: 0
    table
        width: 100%
        border-top: 2px solid $primary
        border-bottom: 2px solid $primary
        margin: 10px auto
    table td
        border: 1px solid #dbdbdb
        border-width: 0 0 1px
        padding: 0.5em 0.75em
        vertical-align: top
    h1, h2, h3, h4, h5, h6
        font-weight: bold
    code .tag
        background: none
        font-size: unset
        height: auto
        padding: 0

.site-footer
    width: 100%
    margin: 50px 0 0
    padding: 30px 0 0
    font-size: 1em
    background: #4CA454
    color: white
    line-height: 1.5em
    a
        color: white
    blockquote
        margin: 0 0 20px

.footer-nav
    margin: 0 40px 40px
    blockquote
        border: 0px
        text-align: center
        overflow: hidden

footer
    .side
        display: inline-block
        vertical-align: top
        margin-right: 20px
        text-align: left
        &:nth-child(1)
            padding-right: 60px
    .site-info
        position: relative
        margin: 0px 40px -10px
        padding: 40px 40px 20px 40px
        border: 2px solid #ccc
        border-bottom: 0px

.site-info
    .smilie
        display: table
        margin: 30px auto 10px
        font-size: 50px
        text-align: center
        transform: rotate(90deg)
    span
        position: absolute
        height: 10px
        width: 10px
        background: white
    span
        &:nth-of-type(1)
            top: 0
            left: 0
            margin: -4px 0 0 -4px
        &:nth-of-type(2)
            top: 0
            left: 50%
            margin: -4px 0 0 -4px
        &:nth-of-type(3)
            top: 0
            right: 0
            margin: -4px -4px 0 0
        &:nth-of-type(4)
            top: 50%
            left: 0
            margin: -4px 0 0 -4px
        &:nth-of-type(5)
            top: 50%
            right: 0
            margin: -4px -4px 0 0
        &:nth-of-type(6)
            bottom: 0
            left: 0
            margin: 0 0 -4px -4px
        &:nth-of-type(7)
            bottom: 0
            right: 0
            margin: 0 -4px -4px 0

$tablet-width: 768px
$desktop-width: 1024px

@media (max-width: $tablet-width)
    .content-box
        padding: 20px 0 0
