<!DOCTYPE html>
<html>
    {{ partial "head.html" (dict "Title" .Title) }}
    <body>
        {{ partial "nav.html" . }}
        {{ partial "nav-secondary.html" . }}

        <div class="container content-box main" role="main">
            <div class="columns">
                <div id="primary" class="is-three-quarters">
                    <p class="box">Browsing {{ .Title }}</p>
                    <div class="posts-list">
                        {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
                        {{ range $pag.Pages }}
                            {{ if eq .Type "post" }}
                                {{ partial "post-preview.html" . }}
                            {{ else if eq .Type "page" }}
                                {{ partial "post-preview.html" . }}
                            {{ else }}
                                NO MATCHING PARTIAL
                                {{.Content}}
                            {{ end }}
                        {{ end }}
                    </div>

                    {{ partial "pagination.html" . }}
                </div>

                {{ partial "sidebar.html" . }}
            </div>
        </div>

        {{ partial "footer.html" . }}
    </body>
</html>
