<!DOCTYPE html>
<html>
    {{ partial "head.html" (dict "Title" (lower .Title)) }}
    <body>
        {{ partial "nav.html" . }}
        <div class="container main" role="main">
            {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
            {{ range $pag.Pages }}
                {{ if eq .Type "post" }}
                    {{ partial "post-preview.html" . }}
                {{ else if eq .Type "page" }}
                    {{ partial "post-preview.html" . }}
                {{ else }}
                    <div class="container" role="main">
                        NO MATCHING PARTIAL
                        {{.Content}}
                    </div>
                {{ end }}
            {{ end }}

            {{ partial "pagination.html" . }}
        </div>
        {{ partial "footer.html" . }}
    </body>
</html>
