<!--<div class="container" id="secondary-nav">
    <ul class="columns">
        <li>
            <div id="search-toggle">
                <a>
                <svg viewBox="0 0 100 100" height="20" width="20">
                    <use xlink:href="#shape-search"></use>
                </svg>
                </a>
            </div>
            <form action="{{ .Site.BaseURL }}/search/" id="search-box">
                <input type="text" name="q" id="search-input" />
            </form>
        </li>
        <li class="column"><a href="{{ .Site.BaseURL }}">Blog</a></li>
        <li class="column"><a href="{{ .Site.BaseURL }}/categories/php/">PHP</a></li>
        <li class="column"><a href="{{ .Site.BaseURL }}/categories/python/">Python</a></li>
        <li class="column"><a href="{{ .Site.BaseURL }}/categories/linux/">GNU/Linux</a></li>
    </ul>
</div>
-->