<div class="container">
    <div class="content-wrapper site-header">
        <div class="site-branding">
            {{ if isset .Site.Params "logo" }}
                <a title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}">
                    <img class="avatar-img" src="{{ .Site.BaseURL }}/{{ .Site.Params.logo }}" alt="{{ .Site.Title }}" />
                </a>
            {{ else }}
                <div class="site-title">
                    <a rel="home" href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">{{ .Site.Title }}</a>
                </div>
            {{ end }}
            {{ if .Site.Params.subtitle }}
                <p class="site-subtitle">{{ .Site.Params.subtitle }}</p>
            {{ end }}
        </div>
        <div id="search-box">
            <svg viewBox="0 0 100 100" id="search-toggle" style="display: inline-block;fill: #fff;vertical-align: middle;width: 30px;height: 30px;">
                <use xlink:href="#shape-search"></use>
            </svg>
            <form id="search-form" action="/web/20161127154100/http://subinsb.com/">
                <input type="search" name="s" class="search-field" value="">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <nav>
        <ul id="site-navigation">
            {{ range .Site.Menus.main.ByWeight }}
                {{ if .HasChildren }}
                    <li class="nav-item">
                        {{ if .URL }}
                            <a href="{{ .URL }}">{{ .Name }}</a>
                        {{ else }}
                            <a title="{{ .Name }}">{{ .Name }}</a>
                        {{ end }}
                        <ul class="nav-submenu">
                            {{ range .Children }}
                                <li class="nav-subitem">
                                    <a title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
                                </li>
                            {{ end }}
                        </ul>
                    </li>
                {{ else }}
                    <li class="nav-item">
                        {{ if .URL }}
                            <a title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
                        {{ else }}
                            <a title="{{ .Name }}">{{ .Name }}</a>
                        {{ end }}
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </nav>
</div>
