<article class="post-preview box is-black">
    <a href="{{ .Permalink }}">
    <h4 class="post-title subtitle is-4">{{ .Title }}</h4>

    {{ if .Params.subtitle }}
        <h5 class="post-subtitle subtitle is-5">{{ .Params.subtitle }}</h5>
    {{ end }}
    </a>

    <p class="post-meta">
       Posted on {{ .Date.Format "January 2, 2006" }} | written by {{ .Site.Params.author }}
    </p>

    <div class="post-entry">
        <p>{{ .Summary }}</p>
        <a href="{{ .Permalink }}" class="post-read-more button is-primary">[READ&nbsp;MORE]</a>
    </div>
</article>
