<article class="post-preview box is-black">
    <a href="{{ .Permalink }}">
    <h1 class="post-title">{{ .Title }}</h1>

    {{ if .Params.subtitle }}
    <h3 class="post-subtitle">
    {{ .Params.subtitle }}
    </h3>
    {{ end }}
    </a>

    <p class="post-meta">
       Posted on {{ .Date.Format "January 2, 2006" }} | written by {{ .Site.Params.author }}
    </p>

    <div class="post-entry">
        <p>{{ .Summary }}</p>
        <a href="{{ .Permalink }}" class="post-read-more button is-primary">[READ&nbsp;MORE]</a>
    </div>
</article>
