<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body>
        {{ partial "nav.html" . }}

        <div class="container main" role="main">
            <div class="content-box">
                <section class="hero post-header is-light">
                    <div class="hero-body">
                        <h1 class="title post-title is-black">404 Not Found<div></div></h1>
                        <p>Looks like there's no page here. Perhaps, <a href="/search">search</a> ?</p>
                    </div>
                </section>
            </div>
        </div>

        {{ partial "footer.html" . }}
    </body>
</html>
