<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body>
        {{ partial "nav.html" . }}
        <header class="header-section ">
            <div class="intro-header no-img">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <div class="page-heading">
                                <!-- <h1>{{.Site.Title}}</h1> -->
                                {{if .Site.Params.subtitle}}
                                <hr class="small">
                                    <span class="page-subheading">
                                        {{.Site.Params.subtitle}}
                                    </span>
                                    {{end}}
                                </hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>
