<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body>
        {{ partial "nav.html" . }}
        {{ partial "nav-secondary.html" . }}

        <div class="container content-box main" role="main">
            <div class="columns">
                <div id="primary" class="column is-two-thirds">
                    <div class="posts-list">
                        {{ $pag := .Paginate (where .Site.RegularPages "Type" "post") }}
                        {{ range $pag.Pages }}
                        {{ partial "post-preview.html" . }}
                        {{ end }}
                    </div>

                    {{ partial "pagination.html" . }}
                </div>

                {{ partial "sidebar.html" . }}
            </div>
        </div>

        {{ partial "footer.html" . }}
    </body>
</html>
